@font-face {
    font-family: "atwriter";
    src: url("../fonts/atwriter.ttf") format("woff2");
   }
body{
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/15/14/33/network-4851119_1280.jpg");
    background-repeat: no-repeat;
    
}

.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bandeau{
  background-color: red;
  width: 100%;
  height: 100px;
}

.left_menu{
  background-color: blue;
  width: 130px;
  height: 580px;
}