 .u-section-1 {
  background-image: url("https://cdn.pixabay.com/photo/2020/02/15/14/33/network-4851119_1280.jpg");
  background-position: 50% 50%;
  min-height: 1193px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0 calc(((100% - 1140px) / 2) + -22px);
}

.u-section-1 .u-shape-1 {
  height: 71px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  height: 804px;
  width: calc(((100% - 1140px) / 2) + 200px);
  margin: -71px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 101px;
  margin: -733px auto 0 0;
}

.u-section-1 .u-shape-4 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 101px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-shape-5 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 101px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-shape-6 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 101px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-custom-php-1 {
  width: 250px;
  min-height: 101px;
  margin-left: 0;
  margin-top: -438px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-custom-php-2 {
  width: 250px;
  min-height: 101px;
  margin-left: 0;
  height: auto;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-php-3 {
  width: 250px;
  min-height: 101px;
  margin-left: 0;
  height: auto;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-php-4 {
  width: 250px;
  min-height: 101px;
  margin-left: 0;
  height: auto;
  margin-top: 12px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 984px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 136px;
    margin-left: calc(((100% - 940px) / 2) + -22px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -62px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 200px);
    margin-top: 41px;
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-1 .u-shape-5 {
    width: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 940px) / 2) + 200px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 754px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + -22px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-1 .u-shape-5 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-1 .u-custom-php-1 {
    margin-top: -99px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + -22px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 200px);
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + 200px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 540px) / 2) + 200px);
  }

  .u-section-1 .u-shape-5 {
    width: calc(((100% - 540px) / 2) + 200px);
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 540px) / 2) + 200px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 428px;
    margin-left: calc(((100% - 340px) / 2) + -22px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -354px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 200px);
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + 200px);
  }

  .u-section-1 .u-shape-4 {
    width: calc(((100% - 340px) / 2) + 200px);
  }

  .u-section-1 .u-shape-5 {
    width: calc(((100% - 340px) / 2) + 200px);
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 340px) / 2) + 200px);
  }
}